{
  "presets": ["env", "react", "stage-0"],
  "plugins": ["transform-decorators-legacy"],
  "env": {
    "production": {
      "presets": [["minify", {
        "evaluate": false,
        "mangle": false
      }]]
    }
  }
}
